body{
    font-family: Rubik;
}
ul{
    list-style: none;
    margin-bottom: 0px;
}
li{
    display: inline-block;
}
a{
    color: aliceblue;
    text-decoration: none;
}
nav, footer{
    background-color: #582A72;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav a:hover, footer a:hover{
    color: gold;
    transform: scale(1.05);
	transition: 1.5s;
}

.header-background{
    height: 47vh;
}
h1,h2,h5,p{
    color:purple;
}
.header-background::before{
    content: "";
    opacity: 0.25;
    background-image: url("background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    width: 100vw;
    height: 50vh; 
}
.row h1{
    padding-top: 12vh;
}
.row h2{
    padding-top: 8vh;
}
.button{
    background-color: purple;
    color: aliceblue;
    width: 12vw;
    border-radius: 55%;
    z-index: 2;
    margin-bottom:2vh;
}
.button:hover{
    transform: scale(1.25);
    background-color: gold;
    border: 1px solid maroon;
    transition: 1.5s;
}
.button a:hover{
    color: maroon;
    transition: 1.5s;
}
.button-submit:hover{
    transform: scale(1.25);
    background-color: rgb(204,204,0);
    color: maroon;
    border: 2px solid maroon;
    transition: 1.5s;
}
.photo{
    width: 10vw;
    border: 2px solid lightblue;
    border-radius: 30%;
}
hr{
    color: darkblue;
}
input, textarea{
    margin-bottom: 2vh;
    margin-left: 1.5vw;
}
.form-control:focus{
    background-color: rgb(255, 255, 102,0.75)
}
#about, #portfolio, #skills, #contact{
    background-image: radial-gradient(azure,rgb(255,255,153));
    width: 100vw;
    /* background-color: azure; */
}
.skill{
    width:50%;
    border: none;
}
#contact{
    padding-bottom:10vh;
}
.example{
    margin-right: 2vw;
    margin-bottom: 2vh;
    border: 1px solid black;
}
.example:hover{
	transform: scale(2);
	transition: 2s;
}

@media screen and (min-width:450px) and (max-width:920px){
    .button{
        width: 24vw;
    }
    .photo{
        width: 100%;
    }
}

@media screen and (max-width:450px){
    .button{
        width: 30vw;
    }
    .col-1-sm{
        width: 10vw;
    }
    .col-10-sm{
        width: 80vw;
    }
    .photo{
        width: 100%;
    }
    .p-3{
        padding-left: 0.1rem!important;
        padding-right: 0.1rem!important;
    }
    .fs-5{
        font-size: 0.9rem!important;
    }
}
